

.police-header{
    font-size: smaller;
}

.color-button{
    background-color: #F9F9FA;
}

.color-button-2{
    background-color: #F5F6F7;
    border-radius: 5px;
}
.size-button{
    width: 250px;
}

.size-card{
    object-fit: contain;
    width: 10rem;
    height: 10rem;
}